#{extends 'main.html' /}
#{set title:'Requête' /}
#{set 'moreScripts'}
    #{script 'queryCtrl.js'/}
#{/set}
<div class="row" ng-controller="queryCtrl">

    <div class="page-header col-xs-12">
        <h1>Requête</h1>
    </div>

    <!-- ERROR -->
    <div ng-show="error" class="alert alert-dismissable alert-danger col-xs-12" ng-cloak>
        <button type="button" class="close" ng-click="error = null">×</button>
        {{error}}
    </div>

    <!-- QUERY -->
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Type your query below</div>
            <div class="panel-body">
                <textarea class="form-control" rows="3" placeholder="Your query..." ng-model="query"></textarea>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary queryBtn dropdown-toggle" data-toggle="dropdown">
                        Try with some examples <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="example in examples" ng-click="showExample(example)"><a href="#">{{example.title}}</a></li>
                    </ul>
                </div>
                <buttton class="btn btn-primary queryBtnRight" ng-disabled="query === null || query === ''" ng-click="executeQuery()">Execute</buttton>
            </div>
        </div>
    </div>

    <!-- RESULT -->
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Result</div>
            <div class="panel-body">
                <table ng-show="result" class="table table-striped table-bordered table-hover" ng-cloak>
                    <thead>
                        <tr>
                            <th ng-repeat="x in result.head.vars" ng-click="changeOrder(x)">{{x}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="binding in result.results.bindings | orderBy:predicate:reverse">
                            <td ng-repeat="x in result.head.vars">{{binding[x]}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-hide="result || loading">
                    Nothing to show you :'(.
                </p>
                <div ng-show="loading" ng-cloak class="loading">
                    <img src="@{'/public/images/loading.gif'}" alt="loading" />
                    <div>We are working for you.</div>
                </div>
            </div>
        </div>
    </div>
</div>