[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.queryBtn {
    float: right;
    margin-top: 15px;
}

.loading {
    text-align: center;
}