[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.hand {
    cursor: pointer;
}

.nav-tabs {
    margin-bottom: 15px;
}

.navbar-brand {
    padding: 10px;
}

.queryBtn {
    margin-top: 15px;
}

.queryBtnRight {
    float: right;
    margin-top: 15px;
}

.loading {
    text-align: center;
}

.caret-placeholder {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    visibility: hidden;
}

.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}