#{extends 'main.html' /}

<div class="row">
#{if cuvee == null}
    #{set title: "oO" /}
    <div style="margin-top: 70px">
        On ne connait pas cette cuvée :'( !!!
    </div>
#{/if}
#{else}
    #{set title: cuvee.getName() /}

    <div class="page-header col-xs-12">
        <h1>${cuvee.getName()}</h1>
    </div>

    <p class="col-xs-12">
        Année : <strong>${cuvee.getYear()}</strong><br/>
        #{if cuvee.isOld()}
            <strong>Cuvée ancienne</strong>
        #{/if}
        #{else}
            <strong>Cuvée nouvelle</strong>
        #{/else}
    </p>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Les vins de la même cuvée</th>
        </tr>
        </thead>
        <tbody>
            #{list items:cuvee.getVins(), as:'vin'}
            <tr>
                <td><a href="/vin/${vin.name}">${vin.name}</a></td>
            </tr>
            #{/list}
        </tbody>
    </table>
#{/else}
</div>