#{extends 'main.html' /}
#{set menu:'prod' /}

<div class="row">
#{if producteur == null}
    #{set title: "oO" /}
    <div style="margin-top: 70px">
        On ne connait pas ce producteur :'( !!!
    </div>
#{/if}
#{else}
    #{set title:producteur.getName() /}

    <div class="page-header col-xs-12">
        <h1>${producteur.getName()}</h1>
    </div>

    <p class="col-xs-12">
        Nom de l'entreprise : <strong>${producteur.getRealName()}</strong>
    </p>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Les vins du producteur</th>
        </tr>
        </thead>
        <tbody>
            #{list items:producteur.getVins(), as:'vin'}
            <tr>
                <td><a href="/vin/${vin.name}">${vin.name}</a></td>
            </tr>
            #{/list}
        </tbody>
    </table>
#{/else}
</div>