#{extends 'main.html' /}
#{set menu:'vins' /}

<div class="row">
#{if vin == null}
    #{set title: "oO" /}
    <div style="margin-top: 70px">
        We don't know this wine :'( !!!
    </div>
#{/if}
#{else}
    #{set title:vin.getName() /}

    <div class="page-header col-xs-12">
        <h1><img src="/public/images/wine.png" alt="vin" style="display: inline" /> ${vin.getName()}</h1>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Informations</div>
            <div class="panel-body">
                #{propertyInfo label:"Cépage", value:vin.getCepage(), link:("/cepage/" + vin.getCepage()) /}
                #{propertyInfo label:"Cuvée", value:vin.getCuvee(), link:("/cuvee/" + vin.getCuvee()) /}
                #{propertyInfo label:"Sol", value:vin.getSol(), link:("/sol/" + vin.getSol()) /}
                #{propertyInfo label:"Producteur", value:vin.getProducteur(), link:("/producteur/" + vin.getProducteur()) /}
                #{propertyInfo label:"Cru", value:vin.getCru(), link:("/cru/" + vin.getCru()) /}
                #{propertyInfo label:"Degré d'alcool", value:vin.getDegre() /}
            </div>
        </div>
    </div>
#{/else}
</div>