#{extends 'main.html' /}
#{set title:'Nos Cépages' /}
#{set menu:'cepages' /}

<div class="row" ng-controller="resourcesListCtrl">
    <div class="page-header col-xs-12">
        <h1>Nos Cépages</h1>
    </div>

    <table class="table table-striped table-bordered table-hover col-xs-12" ng-controller="cepagesCtrl">
        <thead>
        <tr>
            #{tableHeader name:'name', label:'Nom'/}
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cepage in cepages | orderBy:predicate:reverse" ng-cloak>
            #{tableCell value:'{{cepage.name}}', link:'/cepage/{{cepage.name}}'/}
        </tr>
        </tbody>
    </table>
</div>