#{extends 'main.html' /}
#{set title:'Nos vins' /}
#{set menu:'vins' /}
<div class="row" ng-controller="resourcesListCtrl">
    <div class="page-header col-xs-12">
        <h1>Nos Vins</h1>
    </div>

    <table class="table table-striped table-bordered table-hover col-xs-12" ng-controller="vinsCtrl">
        <thead>
            <tr>
                #{tableHeader name:'name', label:'Nom'/}
                #{tableHeader name:'cuvee', label:'Cuvée'/}
                #{tableHeader name:'cepage', label:'Cépage'/}
                #{tableHeader name:'producteur', label:'Producteur'/}
                #{tableHeader name:'degre', label:'Degré d\'alcool'/}
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vin in vins | orderBy:predicate:reverse" ng-cloak>
                #{tableCell value:'{{vin.name}}', link:'/vin/{{vin.name}}'/}
                #{tableCell value:'{{vin.cuvee}}', link:'/cuvee/{{vin.cuvee}}'/}
                #{tableCell value:'{{vin.cepage}}', link:'/cepage/{{vin.cepage}}'/}
                #{tableCell value:'{{vin.producteur}}', link:'/producteur/{{vin.producteur}}'/}
                <td>{{vin.degre}}</td>
            </tr>
        </tbody>
    </table>
</div>