#{extends 'main.html' /}
#{set title:'Accueil' /}
<div class="row">
    <div class="page-header col-xs-12">
        <h1>Accueil</h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Les vins</th>
            </tr>
        </thead>
        <tbody>
            #{list items:vins, as:'vin'}
                <tr>
                    <td><a href="/vin/${vin.name}">${vin.name}</a></td>
                </tr>
            #{/list}
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Les Cépages</th>
            </tr>
        </thead>
        <tbody>
            #{list items:cepages, as:'cepage'}
                <tr>
                    <td><a href="/cepage/${cepage.name}">${cepage.name}</a></td>
                </tr>
            #{/list}
        </tbody>
    </table>
</div>