#{extends 'main.html' /}
#{set title:'Accueil' /}
<div class="row">
    <div class="page-header col-xs-12">
        <h1>Accueil</h1>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <img src="/public/images/logo.png" alt="logo" style="float: left; margin-right: 30px">
        <p>
            <strong>Parce qu'on aime le vin.</strong>
        </p>
        <h3>Introduction</h3>
        <p>
            Le site se base sur une ontologie créée via Protégé en utilisant OWL, RDF, RDFS<br/>
            L'ontologie a pour but de rassembler les connaissances sur les vins de Savoie.<br/><br/><br/>
        </p>
        <h3>Fonctionnalités</h3>
        <p>
            Le site donne un accès rapide à nos vins, nos cépages et nos producteurs via les onglets du menu.<br/>
            La plus part des tableaux de données peuvent être triés sur une colonne en cliquant sur son en-tête.<br/>
            Chaque ressource de notre ontologie est également liée à une page web permettant d'afficher ses infos,
            permettant de naviguer au travers de l'ontologie sans s'arrêter.<br/>
        <p>
        <h4>Requêtez notre ontologie</h4>
        </p>
            Vous pouvez également directement requêter notre ontologie via le dernier onglet. La requête doit respecter
            la syntaxe SPARQL. Quelques exemples vous sont propoés en cliquant sur le menu déroulant en-dessous du champ
            de requête.<br/>
            La liste des résultats est affichée en-dessous, deux afficahges sont proposées: "Traité" affichant de manière
            plus lisible les résultats liant les ressources aux pages web, ou "brut" pour l'affichage sans traitement.<br/>
            Les liens sur les ressources renvoit sur une page d'information de la ressource, ou si la ressource est un individu
            de notre ontologie vers la page correspondante (vin, cépage, cru, ...).
        </p>
    </div>
</div>