<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

        <!-- CSS -->
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
    </head>
    <body ng-app="vinology">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">
                        <img src="/public/images/logo.png" style="width: 20%; height: 20%" alt="logo">
                        Vinology
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="/vins">Nos Vins</a></li>
                        <li><a href="/cepages">Nos Cépages</a></li>
                        <li><a href="/producteurs">Nos Producteurs</a></li>
                        <li><a href="/query">Custom Query</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 10px">
            #{doLayout /}
        </div>

        <!-- SCRIPTS -->
        <script src="@{'/public/javascripts/jquery.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
